<!DOCTYPE html>
<html lang="en">
    <head>
        {{> meta}}
        {{> style}}
    </head>

    <body lang="en">
        <div class="wrapper">
            {{> menu}}
            {{> flash}}
            {{{body}}}
            {{> footer}}
        </div>
        {{> scripts}}
        <script src="http://localhost:35729/livereload.js"></script>
    </body>

</html>